@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tirhuta&family=Roboto:ital@1&display=swap');

.name-font {
    font-family: 'Noto Sans Tirhuta', sans-serif;
}

.quote-font {
    font-family: 'Roboto', sans-serif;
}


.quotes-section {
  background-color: #333333;
  width: 100%;
  padding: 25px;
  margin: 0;
}

.about-section {
    background-color: #333333;
}

.about-spacing {
    margin-top: 70px;
}

.title-color {
    color: white;
}

.navbar-color {
    background-color: #BFC0C0;
}

.about-color {
    color: white;
}

.about-noodles {
    max-width: 500px; 
    height: auto;
    padding-left: 20px;
}

@media (max-width: 576px) {
    .about-noodles {
        padding-left: 0;
    }
}

.quotes-color {
    color: white;
}

.noodles {
    padding-left: 310px;;
}

.blockquote {
    padding: 20px;
}

.quote-image {
    margin: 20px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #BFC0C0;
    
}

.social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 60px;
    margin: 0;
    gap: 30px;
    
}

.social-media li {
    margin: 0;
    padding: 0;
}

.social-media li a {
    text-decoration: none;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 1%;
    color: #333333;
}

.section-break {
    padding: 20px;
    background-color: #BFC0C0;
}

.quote-align {
    padding: inherit;
}

.navbar-brand {
    font-weight: bolder;
    color: #333333;
}

.navbar-brand:hover {
    color: #985463;
}

.nav-link {
    color: #333333;
}

.nav-link:hover {
    font-weight: bold;
    color: #985463;
}

.sign-up-form {
    width: 300px;
    
    background: transparent;
    padding: 30px;
    margin: 8% 8% 8% auto;
    text-align: center;
}

@media (max-width: 768px) {
    .sign-up-form {
        width: 90%;
        margin: 8% auto 8%;
    }
}

.sign-up-image {
    background-image: url("../images/sing-up-test-5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Override background image on mobile devices */
@media (max-width: 767px) {
    .sign-up-image {
        background-image: none;
        background-color: #333333; 
    }
}


.sign-up-button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #BFC0C0;
 }

 #fname {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border:3px solid #BFC0C0;
    outline:none
 }

 #lname {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border:3px solid #BFC0C0;
    outline:none
 }

 #email {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border:3px solid #BFC0C0;
    outline:none
 }

 .sign-up-form h2 {
    color: #BFC0C0;
    margin-bottom: 30px;
    
 }

 .gallery-color {
    background-color: #cbcccc;
 }

.container {
    width: 60%;
    margin: 2rem auto; 
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: "Roboto", sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
  }
  
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 5vw);
  grid-gap: 1rem; 
  
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
  }

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
  }

.gallery__item--4 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
  }

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  }

.gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
  }

.gallery__item--7 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
}

.gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 16;
  }
  

.noodle-recipes {
    text-align: center;
    padding: 80px;
    background-color: #cbcccc;
    
}

.noodle-recipes h1 {
    color: #333333;
    font-size: 100px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #333;
    font-family: 'Noto Sans Tirhuta', sans-serif;
}

.noodle-recipes h3 {
    padding: 20px;
    font-family: 'Noto Sans Tirhuta', sans-serif;
    font-size: small;
    box-shadow: 1px 1px 10px #BFC0C0;
}

hr {
    height: 4px; 
    background-color: #333333; 
    border: none; 
}

.recipe-name-1 {
    text-align: center;
    font-family: 'Noto Sans Tirhuta', sans-serif;
}

.clearfix h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Noto Sans Tirhuta', sans-serif;
}

.list-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
    padding-left: 0;
    font-family: 'Noto Sans Tirhuta', sans-serif;
    padding: 20px;
}
.list-centered li {
    text-align: center;
    margin: 0;
    padding: 0;
}

.smaller-image {
    width: 500px;
    margin-right: 50px;
}

.smaller-image-2 {
    width: 500px;
    margin-left: 70px;
}